.download-button{
    height: 40px;
    line-height: 40px;
    border: 1px solid black;
    background-color: #EEEEEE;
    width: 80px;
    font-size: 22px;
}

*[data-dash-is-loading="true"]{
    visibility: hidden;
}
*[data-dash-is-loading="true"]::before{
    content: "Loading...";
    display: inline-block;
    color: magenta;
    visibility: visible;
}